---
const { title, img, desc, url, badge, tags, target = "_self", width = "750", height = "422", pubDate } = Astro.props;
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";

// Format pubDate to dd-mm-yyyy using toLocaleDateString
const formattedDate = pubDate ? new Date(pubDate).toLocaleDateString('en-GB') : null;

// Filter tags to exclude any tag containing a hyphen ('-')
const filteredTags = tags?.filter(tag => !tag.includes('-')) ?? [];
---

<div class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]">
  <a href={url} target={target}> <!-- Use the passed URL here -->
    <div class="hero-content flex-col md:flex-row">
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        
        <!-- Display pubDate if it's passed and formatted -->
        {formattedDate && (
          <p class="text-sm text-gray-500 mt-2">{formattedDate}</p>
        )}

        <div class="card-actions justify-end">
          {filteredTags.length > 0 ? (
            filteredTags.map((tag) => (
              <a href={`${tag_url}/${tag}`} class="badge badge-outline">
                {tag}
              </a>
            ))
          ) : (
            <span class="text-gray-500">No tags</span>
          )}
        </div>
      </div>
    </div>
  </a>
</div>
